################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LesbianApp/bin/Debug
/LesbianApp/obj/Debug
/.vs
/GaynessPopulationCalculator/bin/Debug
/GaynessPopulationCalculator/obj/Debug
/GaynessPopulationBusiness/bin/Debug
/GaynessPopulationBusiness/obj/Debug
