<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GaynessPopulationCalculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <userSettings>
    <GaynessPopulationCalculator.Properties.Settings>
      <setting name="ManHomosexualityRatio" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="FemaleHomoSexualityRatio" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="LesboToLesboRatio" serializeAs="String">
        <value>0.5</value>
      </setting>
    </GaynessPopulationCalculator.Properties.Settings>
  </userSettings>
</configuration>